// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
  width: 80%;
  letter-spacing: 10px;
  background-color: blue;
  text-align: center;
  margin: 40px auto;
  font-size: 36px;
}
form {
  text-align: center;
}
h2 {
  text-align: center;
}
div {
  font-size: 32px;
}
